//
// FOUNDATION OVERRIDE SETTINGS
//

// Colour values
$green:#7bbfc0;
$darkgrey:#333;
$orange:#f7931e;

// We use these to control various global styles
$body-bg: #fff;
$body-font-color: #333;
$body-font-family: 'Raleway', sans-serif;
// $body-font-weight: normal;
// $body-font-style: normal;

// We use these as default colors throughout
		$primary-color: $green;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;